@model BasicSpMetadata.Models.BasicSpMetadataViewModel
@using System.Security.Cryptography.X509Certificates;

@{
    ViewData["Title"] = "BasicSpMetadata";
}

<div class="h3 pb-2 mb-4 pt-4 text-danger border-bottom border-danger">
    Basic Service Provider Metadata
</div>

<form class="pb-5" asp-action="create" asp-controller="home" method="post" enctype="multipart/form-data">
    <div class="h4">
        Identifier Information
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="text" class="form-control" asp-for="@Model.EntityID" placeholder="EntityId">
            <label for="EntityID">EntityId</label>
        </div>
        <div class="col gx-4 form-floating">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="@Model.AuthnRequestsSigned" value="true">
                <label class="form-check-label" for="AuthnRequestsSigned">Authn Requests Signed</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="@Model.WantAssertionsSigned" value="true">
                <label class="form-check-label" for="WantAssertionsSigned">Want Assertions Signed</label>
            </div>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col form-floating">
            <input type="datetime-local" class="form-control" asp-for="@Model.ValidUntil" placeholder="Valid Until (optional)" value="">
            <label for="ValidUntil">Valid Until (optional)</label>
        </div>
        <div class="col form-floating">
            <input type="text" class="form-control" asp-for="@Model.CacheDuration" placeholder="Cache Duration in seconds (optional)" value="">
            <label for="CacheDuration">Cache Duration in seconds (optional)</label>
        </div>
    </div>
    <div class="h4 pb-2">
        Endpoints
    </div>
    <div class="h5 pb-2">
        AssertionConsumerService
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-1">
            <label class="form-label" for="AssertionConsumerService.IsDefault">Is Default?</label>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" checked name="AssertionConsumerService.IsDefault" placeholder="Is Default" value="true">
            </div>
        </div>
        <div class="col-1 form-floating">
            <input type="number" class="form-control" asp-for="@Model.AssertionConsumerService.Index" placeholder="Index" value="0">
            <label for="AssertionConsumerService.Index">Index</label>
        </div>
        <div class="col-6 form-floating">
            <input type="url" class="form-control" asp-for="@Model.AssertionConsumerService.Location" placeholder="Location">
            <label for="AssertionConsumerService.Location">Location</label>
        </div>
        <div class="col gx-4 form-floating">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="AssertionConsumerService.Binding" id="AssertionConsumerService.Binding.Post" checked value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST">
                <label class="form-check-label" for="AssertionConsumerService.Binding.Post">
                    Post Binding
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="AssertionConsumerService.Binding" id="AssertionConsumerService.Binding.Redirect" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect">
                <label class="form-check-label" for="AssertionConsumerService.Binding.Redirect">
                    Redirect Binding
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="AssertionConsumerService.Binding" id="AssertionConsumerService.Binding.Artifact" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Artifact">
                <label class="form-check-label" for="AssertionConsumerService.Binding.Artifact">
                    Artifact Binding
                </label>
            </div>
        </div>
    </div>
    <div class="h5 pb-2">
        SingleLogoutService
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="url" class="form-control" asp-for="@Model.SingleLogoutServiceEndpoint.Location" placeholder="Location">
            <label for="SingleLogoutServiceEndpoint.Location">Location</label>
        </div>
        <div class="col gx-4 form-floating">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="SingleLogoutServiceEndpoint.Binding" id="SingleLogoutServiceEndpoint.Binding.Post" checked value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST">
                <label class="form-check-label" for="SingleLogoutServiceEndpoint.Binding.Post">
                    Post Binding
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="SingleLogoutServiceEndpoint.Binding" id="SingleLogoutServiceEndpoint.Binding.Redirect" value="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect">
                <label class="form-check-label" for="SingleLogoutServiceEndpoint.Binding.Redirect">
                    Redirect Binding
                </label>
            </div>
        </div>
    </div>
    <div class="h4 pb-2">
        NameId Format <span class="fs-6">(optional)</span>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col form-floating">
            <select class="form-select" name="NameIdFormat" id="NameIdFormatfloatingSelect" aria-label="NameId Format">
                <option value="urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress">Email Address</option>
                <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:encrypted">Encrypted</option>
                <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:entity">Entity</option>
                <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:kerberos">Kerberos</option>
                <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:persistent">Persistent</option>
                <option value="urn:oasis:names:tc:SAML:2.0:nameid-format:transient">Transient</option>
                <option selected value=" urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified">Unspecified</option>
                <option value="urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName">X509SubjectName</option>
                <option value="urn:oasis:names:tc:SAML:1.1:nameid-format:WindowsDomainQualifiedName">WindowsDomainQualifiedName</option>
            </select>
            <label for="NameIdFormatfloatingSelect">NameId Format</label>
        </div>
    </div>
    <div class="h4 pb-2">
        Attribute Consuming Service<span class="fs-6">(optional)</span>
    </div>
    <div class="h4 pb-2">
        UI Login Information<span class="fs-6">(optional)</span>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="text" class="form-control" name="UiInfos[0].DisplayName.Value" id="UiInfos[0].DisplayName.Value" placeholder="Display Name">
            <label for="UiInfos[0].DisplayName.Value">Display Name</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="UiInfos[0].DisplayName.Language" id="UIInfoDisplayNamefloatingSelect" aria-label="UIInfo Display Name Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="UIInfoDisplayNamefloatingSelect">Language</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="text" class="form-control" name="UiInfos[0].Description.Value" id="UiInfos[0].Description.Value" placeholder="Description">
            <label for="UiInfos[0].Description.Value">Description</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="UiInfos[0].Description.Language" id="UIInfoDescriptionfloatingSelect" aria-label="UIInfo Description Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="UIInfoDescriptionfloatingSelect">Language</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="url" class="form-control" name="UiInfos[0].InformationURL.Value" id="UiInfos[0].InformationURL.Value" placeholder="Information URL">
            <label for="UiInfos[0].InformationURL.Value">Information URL</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="UiInfos[0].InformationURL.Language" id="UIInfoInformationURLfloatingSelect" aria-label="UIInfo Information URL Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="UIInfoInformationURLfloatingSelect">Language</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="url" class="form-control" name="UiInfos[0].PrivacyStatementURL.Value" id="UiInfos[0].PrivacyStatementURL.Value" placeholder="Privacy Statement URL">
            <label for="UiInfos[0].PrivacyStatementURL.Value">Privacy Statement URL</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="UiInfos[0].PrivacyStatementURL.Language" id="UIInfoPrivacyStatementURLfloatingSelect" aria-label="UIInfo PrivacyStatement URL Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="UIInfoPrivacyStatementURLfloatingSelect">Language</label>
        </div>
    </div>
    <div class="h5 pb-2">
        Logo
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-3 form-floating">
            <input type="text" class="form-control" name="UiInfos[0].Logo.Height" id="UiInfos[0].Logo.Height" placeholder="Height (pixels)">
            <label for="UiInfos[0].Logo.Height">Height (pixels)</label>
        </div>
        <div class="col-3 form-floating">
            <input type="text" class="form-control" name="UiInfos[0].Logo.Width" id="UiInfos[0].Logo.Width" placeholder="Width (pixels)">
            <label for="UiInfos[0].Logo.Width">Width (pixels)</label>
        </div>
        <div class="col-3 form-floating">
            <input type="text" class="form-control" name="UiInfos[0].Logo.Value" id="UiInfos[0].Logo.Value" placeholder="PNG/GIF Url location">
            <label for="UiInfos[0].Logo.Value">PNG/GIF Url location</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="UiInfos[0].Logo.Language" id="UIInfoLogofloatingSelect" aria-label="UIInfo Logo Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="UIInfoLogofloatingSelect">Language</label>
        </div>
    </div>
    <div class="h5 pb-2">
        Keywords
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="text" class="form-control" name="UiInfos[0].Keywords.Values" id="UiInfos[0].Keywords.Values" placeholder="Keywords (spaces)">
            <label for="UiInfos[0].Keywords.Values">Keywords</label>
        </div>
         <div class="col form-floating">
            <select class="form-select" name="UiInfos[0].Keywords.Language" id="UIInfoKeywordsfloatingSelect" aria-label="UIInfo Keywords Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="UIInfoLKeywordsfloatingSelect">Language</label>
        </div>
    </div>
    <div class="h4 pb-2">
        Contact Information <span class="fs-6">(optional)</span>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col form-floating">
            <input type="text" class="form-control" asp-for="@Model.ContactPersons[0].GivenName" placeholder="First Name">
            <label for="ContactPersons[0].GivenName">First Name</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col form-floating">
            <input type="text" class="form-control" asp-for="@Model.ContactPersons[0].Surname" placeholder="Last Name">
            <label for="ContactPersons[0].Surname">Last Name</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col form-floating">
            <input type="text" class="form-control" asp-for="@Model.ContactPersons[0].Company" placeholder="Company">
            <label for="ContactPersons[0].Company">Company</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col form-floating">
            <input type="email" class="form-control" asp-for="@Model.ContactPersons[0].EmailAddresses[0]" placeholder="Email">
            <label for="ContactPersons[0].EmailAddresses.[0]">Email</label>
        </div>
        <div class="col form-floating">
            <input type="tel" class="form-control" asp-for="@Model.ContactPersons[0].TelephoneNumbers[0]" placeholder="Telephone">
            <label for="ContactPersons[0].TelephoneNumbers.[0]">Telephone</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="ContactPersons[0].ContactType" id="ContactPersons[0].ContactTypefloatingSelect" aria-label="Contact Type">
                <option selected value="">Please select</option>
                <option value="administrative">Administrative</option>
                <option value="billing">Billing</option>
                <option value="support">Support</option>
                <option value="technical">Technical</option>
                <option value="other">Other</option>
            </select>
            <label for="ContactPersons[0].ContactTypefloatingSelect">Type</label>
        </div>
    </div>
    <div class="h4 pb-2">
        Organization Information <span class="fs-6">(optional)</span>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="text" class="form-control" asp-for="@Model.Organization.OrganizationDisplayName[0].Value" placeholder="Display Name">
            <label for="Organization.OrganizationDisplayName[0].Value">Display Name</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="Organization.OrganizationDisplayName[0].Language" id="OrganizationDisplayNamefloatingSelect" aria-label="Organization Display Name Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="OrganizationDisplayNamefloatingSelect">Language</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="text" class="form-control" asp-for="@Model.Organization.OrganizationName[0].Value" placeholder="Name">
            <label for="Organization.OrganizationName[0].Value">Name</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="Organization.OrganizationName[0].Language" id="OrganizationNamefloatingSelect" aria-label="Organization Name Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="OrganizationNamefloatingSelect">Language</label>
        </div>
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8 form-floating">
            <input type="url" class="form-control" asp-for="@Model.Organization.OrganizationURL[0].Uri" placeholder="Url">
            <label for="Organization.OrganizationURL[0].Uri">Url</label>
        </div>
        <div class="col form-floating">
            <select class="form-select" name="Organization.OrganizationURL[0].Language" id="OrganizationURLfloatingSelect" aria-label="Organization URL Language">
                <option selected value="">Please select</option>
                <option value="en-US">English (USA)</option>
                <option value="es-ES">Spanish (Spain)</option>
                <option value="fr-FR">French (France)</option>
            </select>
            <label for="OrganizationURLfloatingSelect">Language</label>
        </div>
    </div>
    <div class="h4 pb-2">
        Certificate Information <span class="fs-6">(optional)</span>
    </div>
    <div class="h5 pb-2">
        Signing Certificate (*.pfx)
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8">
            <input class="form-control form-control-lg" type="file" accept=".pfx" asp-for="@Model.SigningCertificatePfx.File" placeholder="Signing Certificate">
        </div>
        <div class="col-4">
            <input class="form-control form-control-lg" type="password" asp-for="@Model.SigningCertificatePfx.Password" placeholder="Password">
        </div>
    </div>
    <div class="h5 pb-2">
        Encrypting Certificate (*.pfx)
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8">
            <input class="form-control form-control-lg" type="file" accept=".pfx" asp-for="@Model.EncryptingCertificatePfx.File" placeholder="Encrypting Certificate">
        </div>
        <div class="col-4">
            <input class="form-control form-control-lg" type="password" asp-for="@Model.EncryptingCertificatePfx.Password" placeholder="Password">
        </div>
    </div>
    <div class="h5 pb-2">
        Metadata File Signing Certificate (*.pfx)
    </div>
    <div class="row gx-2 mb-4">
        <div class="col-8">
            <input class="form-control form-control-lg" type="file" accept=".pfx" asp-for="@Model.SignatureCertificatePfx.File" placeholder="Metadata file Signing Certificate">
        </div>
        <div class="col-4">
            <input class="form-control form-control-lg" type="password" asp-for="@Model.SignatureCertificatePfx.Password" placeholder="Password">
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-lg float-end">Create</button>
</form>
